Makefile
Makefile.in
*.la
*.lo
*.o
.deps
.libs
ltmain.sh
missing
stamp-h1
configure
config.h*
config.log
config.status
config.sub
depcomp
aclocal.m4
autom4te*
config.guess
gtk-doc.make
install-sh
libtool
*.pc
*.spec
